<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Google-style Navigation Bar</title>
  <link rel="stylesheet" href="../assets/styles/index.css">
  <link rel="stylesheet" href="../assets/styles/command.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/solid.css">
  <script src="../scripts/scrollreveal.min.js"></script>
</head>


<body>
  <!----------------------------------- HEADER -------------------------------->
  <header class="header" id="header">
    <nav class="navbar">
      <div class="leftPart">
        <a href="#" class="logo"><img src="../assets/images/googleIcon.jpg" alt=""></a>
        <ul class="header-ul">
          <li><a href="#home" class="active-link">Home</a></li>
          <li><a href="#cars" class="active-link">Cars</a></li>
          <li><a href="#preview" class="active-link">Reviews</a></li>
        </ul>
      </div>

      <div class="rightPart">
        <ul>
          <div class="containerCart">
          <span class="iconClass"></span>
          <a href="/command"><i class="material-symbols-outlined header-icon">shopping_cart</i></a>
          <a href=""><i class="material-symbols-outlined header-icon">account_circle</i></a>
        </ul>
      </div>

    </nav>
  </header>
<!------------------------------------------------------------------------------>



<!------------------------------- SECTION BANNIERE ----------------------------->
  <section class="banniere" id="home">
    <div class="banniere__block">
      <img src="../assets/images/banniere3.png" alt="#" class="banniere__img">
      <div class="banniere__description">
        <h1 class="title__banniere">Breathe in. <br> Drive. <br> Breathe out.</h1>
        <p class="text__banniere">
        Driving by Google, without the stress. Find our three vehicles, developed for you.
        </p>
      </div>
    </div>
  </section>
<!------------------------------------------------------------------------------>



<div class="accroche">
  <div class="icon"><i class="uil uil-check-circle accroche__icon"></i></div>
  <div class="accroche1">A simpler, safer, more comfortable way to drive.</div>
  <div class="accroche2">All thanks to Google's intelligence.</div>
</div>


<!------------------------------- SECTION DESCRIPTION CAR ----------------------------->
  <section class="description" id="#">
    <div class="description__block">
      <img src="../assets/images/autopilote.png" alt="#" class="description__img">
      <div class="description__description">
        <h1 class="description__title">A smart car, yes... But an autonomous car even better.</h1>
        <p class="description__text1">
        By using advanced technologies,<br> we can now present our autonomous cars.
        </p>
         <p class="description__text2">
        Equipped with an autopilot system, <br> your journeys will become a real child's play.
        </p>
         <p class="description__text3">
        The addition of our Google GPS tools allows <br> your vehicle to take you to your destination, without hindrance. <br> All you have to do is get comfortably on board!
        </p>
      </div>
    </div>
  </section>
<!------------------------------------------------------------------------------>



<!---------------------------- SECTION CARD FOR CARS ------------------------->
  <hr class="hr">
  <section class="block__card" id="cars">
<!------------------------------------ CARD 1 ---------------------------------->
    <div class="card card__simply">
    <img src="../assets/images/normal.png" alt="#" class="card__img__normal">

    <div class="card__info">
      <h1 class="card__title">SimplyDrive</h1>
      <p class="card__description">
        Our car that adapts to your daily life. The one that will allow you to 
        get to work safely. Always the same quality, for each of our customers.
        Here is the SimplyDrive, a summary of Google values accessible to all.
      </p>
      <div class="card__button-body">
        <button class="card__button see">
          See more
        </button>
        <button class="card__button">
          Add to cart
        </button>
      </div>
    </div>
    <div class="cars__modal">
                            <div class="cars__modal-content">
                                <i class="uil uil-times cars__modal-close"></i>
                                <ul class="cars__modal-services grid">
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Increased energy efficiency,</p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Better maneuvrability,</p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Versatility,</p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Enhanced comfort.</p>
                                    </li>
                                    <br>
                                    <img class = "img_citadine" src="../assets/images/interieur_citadine.png" alt="#">
                                </ul>
                            </div>
                        </div>
    </div>


<!------------------------------------ CARD 2 ---------------------------------->
    <div class="card card__pix">
    <img src="../assets/images/suv.png" alt="#" class="card__img">

    <div class="card__info">
      <h1 class="card__title">PixEarth</h1>
      <p class="card__description">
        The perfect fusion of off-road, minivan and sportiness ? We've done it. 
        Introducing the Earth, our SUV that will accompany you all your journeys.
      </p>
      <div class="card__button-body">
        <button class="card__button see">
          See more
        </button>
        <button class="card__button">
          Add to cart
        </button>
      </div>
    </div>
       <div class="cars__modal">
                            <div class="cars__modal-content">
                                <i class="uil uil-times cars__modal-close"></i>

                                <ul class="cars__modal-services grid">
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p> More interior space, great choice for families, </p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p> Greater lighting, </p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p> Enhanced off-road capabilities, </p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p> Increased visibility. </p>
                                    </li>
                                    <br>
                                    <img src="../assets/images/interieur_SUV.png" class="img_suv" alt="#">
                                </ul>
                            </div>
                        </div>
    </div>


<!------------------------------------ CARD 3 ---------------------------------->
    <div class="card card__chroma">
    <img src="../assets/images/sport.png" alt="#" class="card__img">

    <div class="card__info">
      <h1 class="card__title">Chroma</h1>
      <p class="card__description">
        Google speed in car is now possible. The Chroma, a jewel of innovation,
        combining power, comfort and safety. In short, all our values in one vehicle
      </p>
      <div class="card__button-body">
        <button class="card__button see">
          See more
        </button>
        <button class="card__button">
          Add to cart
        </button>
      </div>
    </div>
       <div class="cars__modal">
                           <div class="cars__modal-content">
                                <i class="uil uil-times cars__modal-close"></i>
                                <ul class="cars__modal-services grid">
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Better acceleration, greater top speed,</p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Enhanced handling and agility,</p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Improved suspension system,</p>
                                    </li>
                                    <li class="cars__modal-service">
                                        <i class="uil uil-check-circle cars__modal-icon"></i>
                                        <p>Best braking system.</p>
                                    </li>
                                    <br>
                                    <img src="../assets/images/interieur_sportive.png" class="img_sportive" alt="#">
                                </ul>
                            </div>
                        </div>
    </div>
  </section>
<!--------------------------------------------------------------------------------------->

<hr class="hr">

<!------------------------------------ ECOLOGY BANNER ---------------------------------->
<section class="ecology_block">
  <div class="ecology_stuff">
    <h1 class = "ecology_title">At Google, <br> we are committed to sustainability.</h1>
    <p class = "ecology_info">
      We are committed to creating products from recycled or <br> reusable materials to limit our impact on the environment.
    </p>
  </div>
  <img src="../assets/images/collage_ecologie.png" alt="A collage of three pics, first one is two hands holding seeds, second one is a wind turbine and last one is a landscape with a sunset and a river." class="ecology_collage">
</section>
<hr class="hr-r">
<!--------------------------------------------------------------------------------------->


  <h2 class="avis-title">Google Reviews</h2>
  <div class="comment">
    <div class="user">
      <div class="profile">
        <div class="imageProfile"></div>
        <div class="infoProfile">
          <h4></h4>
          <p></p>
        </div>
      </div>
      <div class="message">
        <h4></h4>
      </div>
    </div>
    <div class="user">
      <div class="profile">
        <div class="imageProfile"></div>
        <div class="infoProfile">
          <h4></h4>
          <p></p>
        </div>
      </div>
      <div class="message">
        <h4></h4>
      </div>
    </div>
    <div class="user">
      <div class="profile">
        <div class="imageProfile"></div>
        <div class="infoProfile">
          <h4></h4>
          <p></p>
        </div>
      </div>
      <div class="message">
        
      </div>
    </div>
  </div>
  </div>
  <!--------------------------------------------------------------------------------------->


  <!------------------------------------ AVIS CLIENT ---------------------------------->
  <div class="avisClient" id="preview">
    <form class="form-horizontal" id="form-horizontal" action="/">
      <h2>What do you think about us ?</h2>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
      <label id="rating">Rating</label>
      <div class="googleNote">
        <i class="uil uil-star"></i>
        <i class="uil uil-star"></i>
        <i class="uil uil-star"></i>
        <i class="uil uil-star"></i>
        <i class="uil uil-star"></i>
      </div>
      <label for="message">Message</label>
      <textarea rows="10" id="message" name="message" required></textarea>
      <button id="submit-btn" type="submit">Send</button>
    </form>
  </div>
<!--------------------------------------------------------------------------------------->

<!--------------------------------------- .FOOTER. ---------------------------------->
<footer>
      <ul class="reseaux">
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-instagram"></i></a>
        <a href=""><i class="fa fa-facebook"></i> </i></a>
        <a href=""><i class="fa fa-youtube-play"></i></a>
        <a href=""><i class="fa-brands fa-tiktok"></i></a>

      </ul>

        <ul class="listRight">
          <li class="frenchFlag" >🇫🇷</li>
          <li>France</li>
          <li>Confidentialite</li>
          <li>Engagement de Google Net pour la protection de la vie privée</li>
          <li>Conditions de vente</li>
          <li>Conditions d'utilisation</li>
        </ul>
  </footer>       

  <!--------------------------------------- .SCRIPT. ---------------------------------->  
    <script src="../scripts/index.js"></script>
  <!----------------------------------------------------------------------------------->
</body>
</html>